<html>
<head>
<h1>this is an awsome page</h1>
<body>
      <marquee direction = "right">This is awsome</marquee>

   </body>
<img src="smiley.gif" alt="Smiley face" height="42" width="42">
</head>	
</html>
